<div>
    <video autoplay loop muted>
        <source src="img/Feather-11168.mp4" type="video/mp4" />
    </video>
    <div class="overlay splash splash-div">
    <img class="logo-img" src="/img/white.png" alt="">
    <h1>Do it for the cake!</h1>
    <a href="/signup" class="uk-button uk-button-default btn">Sign Up</a>
    <a href="/signin" class="uk-button uk-button-default btn">Sign In</a>
    </div>

</div>